<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centres d'Interet</title>
    <!-- cette line et pour le fiche normalize.css est  -->
    <link rel="stylesheet" href="../css/normalize.css">
    <!-- pour les icon fontAwsome -->
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/mian.css">
</head>
<body>
    <div class="nav">
        <div class="container">
            <div class="logo">
                <img src="../assets/usthb.svg" alt="logo usthb">
            </div>
            <ul>
                <li><a href="../index.html">Resume</a></li>
                <li><a  href="./experience.html">experience</a></li>
                <li><a  href="./formation.html">formation</a></li>
                <li><a  href="./competenes.html">competenes</a></li>
                <li><a  href="./langues.html">langues</a></li>
                <li><a class="active" href="./centres.html">centres d'interet</a></li>
                <li><a href="./divers.html">divers</a></li>
            </ul>
            <div class="icons">
                <a href="https://github.com/943mohamedzouaoui2131tg" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://web.facebook.com/profile.php?viewas=100000686899395&id=61562124230552&locale=fr_FR" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="centres">
        <div class="container">
            <p class="pp">
                J'ai de nombreuses passions dans divers domaines, et chacune d'elles représente pour moi un échappatoire précieux en dehors du travail. La lecture m’ouvre à de nouveaux horizons, la programmation stimule ma créativité, et le sport maintient mon bien-être. Chaque activité enrichit ma vie et nourrit mon esprit.
            </p>
            <p class="pp">et prami mes hobbies : </p>
            <div class="cards">
                <div class="card">
                    <p>J'adore pratiquer la musculation et je suis l'un des plus grands passionnés de ce sport. J'ai commencé à m'y consacrer il y a environ deux mois, et depuis lors, ma passion pour cette activité n'a cessé de grandir. Chaque séance d'entraînement me motive davantage et me permet de me dépasser. La musculation ne se limite pas seulement à l'amélioration de mon physique, mais elle m'apporte également de la confiance en moi et un sentiment de bien-être. J'apprécie vraiment chaque moment passé à m'entraîner et à découvrir de nouvelles techniques.</p>
                    <a href="./divers.html">Voir Plus</a>
                </div>
                <div class="card">
                    <p>J'ai une profonde affection pour la nature et les forêts, et j'adore y passer du temps. Parmi les activités que j'apprécie, le barbecue en forêt est l'une de mes préférées. Je trouve un plaisir particulier dans cette activité, car elle combine l'air libre et la bonne nourriture avec des amis et la famille.</p>
                    <p>
                        De plus, j'aime aussi la plage. Les vagues, l'odeur du sel et la sensation du sable sous mes pieds me donnent un sentiment de liberté et de tranquillité. Que je profite d'un barbecue sur la plage ou que je me détende dans les bras de la nature, tous ces moments renforcent ma joie et me donnent une énergie positive incomparable.
                    </p>
                    <a href="./divers.html">Voir Plus</a>
                </div>
                <div class="card">
                    <p>J'aime la musique britannique avec passion, en particulier le rap britannique, qui reflète une culture variée et des émotions fortes. Parmi les artistes que j'apprécie, Central Cee est l'un de mes préférés. Sa musique se distingue par ses rythmes accrocheurs et ses paroles expressives qui abordent des thèmes de la vie quotidienne et les défis auxquels les jeunes font face. Je trouve que chaque chanson de lui me fait vivre un voyage, car elle reflète la réalité de la société et exprime des rêves et des ambitions. Écouter la musique de Central Cee me donne une énergie positive et me permet de me connecter à une culture riche et inspirante</p>
                    <a href="./divers.html">Voir Plus</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>