<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Competenes</title>
    <!-- cette line et pour le fiche normalize.css est  -->
    <link rel="stylesheet" href="../css/normalize.css">
    <!-- pour les icon fontAwsome -->
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/mian.css">
</head>
<body>
    <div class="nav">
        <div class="container">
            <div class="logo">
                <img src="/assets/usthb.svg" alt="logo usthb">
            </div>
            <ul>
                <li><a href="../index.html">Resume</a></li>
                <li><a  href="./experience.html">experience</a></li>
                <li><a  href="./formation.html">formation</a></li>
                <li><a class="active" href="./competenes.html">competenes</a></li>
                <li><a href="./langues.html">langues</a></li>
                <li><a href="./centres.html">centres d'interet</a></li>
                <li><a href="./divers.html">divers</a></li>
            </ul>
            <div class="icons">
                <a href="https://github.com/943mohamedzouaoui2131tg" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://web.facebook.com/profile.php?viewas=100000686899395&id=61562124230552&locale=fr_FR" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="conpetenes">
        <div class="container">
            <p class="intro">
                J'ai développé de nombreuses compétences professionnelles et techniques au cours de mes études et expériences. Voici un aperçu de ces compétences :
            </p>
            <ul>
                <li>
                    <h3>Développement web</h3>
                    <p> Je maîtrise les langages essentiels comme HTML, CSS et JavaScript. Cela me permet de créer des sites web attrayants et réactifs. J'ai une bonne compréhension des meilleures pratiques de codage et de la structure des documents web.</p>
                    <div>
                        <ul>
                            <li>
                                <p>HTML</p>
                                <div data-prog="89%" class="prog">
                                    <span style="width:89%"></span>
                                </div>
                            </li>
                            <li>
                                <p>CSS</p>
                                <div data-prog="80%" class="prog">
                                    <span style="width:80%"></span>
                                </div>
                            </li>
                            <li>
                                <p>JAVASCRIPT</p>
                                <div data-prog="78%" class="prog">
                                    <span style="width:78%"></span>
                                </div>
                            </li>
                            <li>
                                <p>GIT</p>
                                <div data-prog="90%" class="prog">
                                    <span style="width:90%"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <p></p>
                </li>
                <li>
                    <h3>Intégration de systèmes</h3>
                    <p>J'ai acquis la capacité de travailler avec des API pour interagir avec des services externes. Cela m'aide à récupérer des données en temps réel et à les intégrer dans mes applications, enrichissant ainsi l'expérience utilisateur.</p>
                </li>
                <li>
                    <h3>Conception d'interfaces utilisateur</h3>
                    <p> Je me spécialise dans la création d'interfaces utilisateur intuitives et esthétiques. Je mets l'accent sur l'expérience utilisateur (UX) en réalisant des tests d'utilisation, en choisissant des couleurs appropriées, et en organisant les éléments de manière à rendre l'interaction facile et agréable.</p>
                </li>
                <li>
                    <h3>Intelligence artificielle et apprentissage automatique</h3>
                    <p>  J'ai acquis une connaissance approfondie de ce domaine grâce à des cours avancés. Je comprends les concepts fondamentaux tels que la régression linéaire et la classification, ce qui me permet de développer des modèles efficaces pour l'analyse des données.</p>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>