<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <!-- cette line et pour le fiche normalize.css est  -->
    <link rel="stylesheet" href="../css/normalize.css">
    <!-- pour les icon fontAwsome -->
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/mian.css">
</head>
<body>
    <div class="nav">
        <div class="container">
            <div class="logo">
                <img src="../assets/usthb.svg" alt="logo usthb">
            </div>
            <ul>
                <li><a href="../index.html">Resume</a></li>
                <li><a class="active" href="./experience.html">experience</a></li>
                <li><a href="./formation.html">formation</a></li>
                <li><a href="./competenes.html">competenes</a></li>
                <li><a href="./langues.html">langues</a></li>
                <li><a href="./centres.html">centres d'interet</a></li>
                <li><a href="./divers.html">divers</a></li>
            </ul>
            <div class="icons">
                <a href="https://github.com/943mohamedzouaoui2131tg" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://web.facebook.com/profile.php?viewas=100000686899395&id=61562124230552&locale=fr_FR" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="lading-exp">
        <div class="container">
            <div class="line"></div>
            <div class="exp">
                <div class="ex" data-year="2023">
                    <p>
                        J'ai commencé à apprendre le design de sites web en 2023, en débutant par les bases comme HTML, CSS et JavaScript. J'ai suivi des cours et des ressources sur plusieurs plateformes de renommée mondiale, telles que FreeCodeCamp et Udemy, entre autres.
                    </p>
                </div>
                <div class="ex" data-year="Aout 2023">
                    <p>
                        En août 2022, j'ai commencé à appliquer ce que j'avais appris en langages de programmation comme HTML et CSS en créant plusieurs interfaces utilisateur. J'ai également réalisé plusieurs tests en conception d'interface, allant du choix des couleurs jusqu’à l’optimisation  l’expérience de utilisateur.
                    </p>
                </div>
                <div class="ex" data-year="2024">
                    <p>
                        Au début de l'année 2024, j'ai progressé en JavaScript, maîtrisant la plupart des concepts de programmation liés à ce langage, des bases jusqu'à l'utilisation des API. En parallèle, j'ai commencé à me familiariser avec le framework Vue.js et j'ai également utilisé des bibliothèques telles que GSAP et Headroom. J'apprécie énormément l'apprentissage de JavaScript et j'aspire à le maîtriser, en raison de ses capacités impressionnantes..
                    </p>
                </div>
                <div class="ex" data-year="Maintenant">
                    <p>
                        Actuellement, je travaille avec une équipe de programmeurs sur plusieurs projets logiciels. Ma mission consiste à fournir un design utilisateur attrayant et à améliorer l’expérience utilisateur. De plus, je supervise le développement d’un site web pour l’un des Clubs de l’Université de Bab Ezzouar, qui sera lancé prochainement, si Dieu le veut.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>