<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formation</title>
    <!-- cette line et pour le fiche normalize.css est  -->
    <link rel="stylesheet" href="../css/normalize.css">
    <!-- pour les icon fontAwsome -->
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/mian.css">
</head>
<body>
    <div class="nav">
        <div class="container">
            <div class="logo">
                <img src="/assets/usthb.svg" alt="logo usthb">
            </div>
            <ul>
                <li><a href="../index.html">Resume</a></li>
                <li><a  href="./experience.html">experience</a></li>
                <li><a class="active" href="./formation.html">formation</a></li>
                <li><a href="./competenes.html">competenes</a></li>
                <li><a href="./langues.html">langues</a></li>
                <li><a href="./centres.html">centres d'interet</a></li>
                <li><a href="./divers.html">divers</a></li>
            </ul>
            <div class="icons">
                <a href="https://github.com/943mohamedzouaoui2131tg" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://web.facebook.com/profile.php?viewas=100000686899395&id=61562124230552&locale=fr_FR" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="formation">
        <div class="container">
            <p>
                J'ai suivi de nombreux cours éducatifs et les ai appliqués dans le domaine du design de sites web. J'ai beaucoup tiré profit du contenu en anglais, auquel j'ai ajouté du contenu en arabe pour enrichir mes connaissances. L'un des cours les plus marquants que j'ai suivis est : 
            </p>
            <ul>
                <li>"Learn HTML and CSS" par le programmeur SuperSimpleDev. J'ai beaucoup apprécié ce cours et il m'a permis d'acquérir une solide base dans ces deux langages.
                    <a href="https://youtu.be/G3e-cpL7ofc?si=Kex5Ec1OjRhnb3MJ" target="_blank">Voir Plus</a>
                </li>
                <li>J'ai suivi un cours sur JavaScript sur le site FreeCodeCamp, où j'ai appris à intégrer cette langue avec HTML et CSS. J'ai également découvert comment travailler avec des API et traiter des données, en les affichant et en les modifiant pour les utilisateurs. Cette formation m'a beaucoup aidé à développer mes compétences en programmation.
                    <a href="https://youtu.be/zJSY8tbf_ys?si=zHuccABnby4j082v" target="_blank">Voir Plus</a>
                </li>
                <li>En plus de cela, j'ai suivi plusieurs cours éducatifs dans le domaine de l'intelligence artificielle et de l'apprentissage automatique. Parmi ces cours, celui du Dr. Andrew NG, qui est considéré comme le père fondateur de l'IA. Sa formation se concentre sur les aspects mathématiques de l'IA, tels que les fonctions, les matrices et les intégrales, et elle aborde également les méthodes nécessaires pour obtenir un bon modèle.
                    <br>
                    J'ai étudié la régression linéaire et la classification, qui constituent des concepts fondamentaux dans ce domaine. Ces connaissances m'ont permis de mieux comprendre les mécanismes sous-jacents à l'intelligence artificielle et de poser les bases pour mes futurs projets.
                    <a href="https://youtube.com/@deeplearningai?si=Ra6TXu-GBIdirE-d" target="_blank">Voir Plus</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>