<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Langues</title>
    <!-- cette line et pour le fiche normalize.css est  -->
    <link rel="stylesheet" href="../css/normalize.css">
    <!-- pour les icon fontAwsome -->
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/mian.css">
</head>
<body>
    <div class="nav">
        <div class="container">
            <div class="logo">
                <img src="../assets/usthb.svg" alt="logo usthb">
            </div>
            <ul>
                <li><a href="../index.html">Resume</a></li>
                <li><a  href="./experience.html">experience</a></li>
                <li><a  href="./formation.html">formation</a></li>
                <li><a  href="./competenes.html">competenes</a></li>
                <li><a class="active" href="./langues.html">langues</a></li>
                <li><a href="./centres.html">centres d'interet</a></li>
                <li><a href="./divers.html">divers</a></li>
            </ul>
            <div class="icons">
                <a href="https://github.com/943mohamedzouaoui2131tg" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://web.facebook.com/profile.php?viewas=100000686899395&id=61562124230552&locale=fr_FR" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="lag">
        <div class="container">
            <p>
                Je maîtrise trois langues : l'arabe, l'anglais et le français. L'arabe est ma langue maternelle, et je le parle couramment avec une grande aisance, tant à l'écrit qu'à l'oral. En ce qui concerne l'anglais, je possède un bon niveau qui me permet de communiquer efficacement et de bien comprendre les contenus professionnels et académiques.
            </p>
            <p>
                Quant à la langue française, je suis actuellement en phase d'apprentissage, et je la maîtrise à un niveau raisonnable. Cette compétence en plusieurs langues m'aide à évoluer dans des contextes variés et à accéder à des ressources dans différentes langues, ce qui enrichit mon parcours personnel et professionnel.
            </p>
            <div class="lag-div">
                <ul>
                    <li>
                        <p>Arabic</p>
                        <div data-prog="100%" class="prog-lang">
                            <span style="width:100%"></span>
                        </div>
                    </li>
                    <li>
                        <p>English</p>
                        <div data-prog="75%" class="prog-lang">
                            <span style="width:75%"></span>
                        </div>
                    </li>
                    <li>
                        <p>Francais</p>
                        <div data-prog="30%" class="prog-lang">
                            <span style="width:30%"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>